/* 
TABLE OF CONTENTS

Instructions: Search sections using the following legend.

Section1 - CSS RESET 
Section2 - GLOBAL CONTAINER 
Section3 - HELPER INTERFACE 
Section4 - WEB-PREVIEW DISPLAY

*/

/* **** CSS RESET SECTION START **** */
/* Section1 */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* **** CSS RESET SECTION END **** */





/* **** GLOBAL CONTAINER SECTION START **** */
/* Section2 */

body {
	display: flex;
	flex-direction: row;
	
}

/* **** GLOBAL CONTAINER SECTION END **** */





/* **** HELPER INTERFACE SECTION START **** */
/* Section3 */


#helper {
	display: flex;
	flex-direction: column;
	width: 330px;
	/* height will change the more features will be added */
	height: 100vh;
	background-color: darksalmon;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	padding: 5px;
	/* position: absolute; */
	/* z-index: 100; */
	overflow-y: scroll;
}

/* **** HELPER INTERFACE SECTION END **** */







/* **** WEB-PREVIEW DISPLAY SECTION START **** */
/* Section4 */

iframe {
	/* position: absolute;
	left: 330px; */
	width: 100%;
	/* if 100vh iframe will not align with helper interface */
	height: auto;
	overflow: auto;
	resize: both;
	box-shadow: 1px 1px 1px red;
	/* min-width: 300px; */
}

/* **** WEB-PREVIEW DISPLAY SECTION END **** */