

/* ///////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
//																//
//																//
//	TABLE OF CONTENTS											//
//																//
//	Instructions: Search sections using the following legend.	//
//																//
//	Section1 - CSS RESET 										//
//	Section2 - GLOBAL CONTAINER 								//
//	Section3 - HELPER INTERFACE 								//
//	Section4 - WEB-PREVIEW DISPLAY								//
//																//
//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////// */




/* ///////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
//																//
//																//
//				CSS RESET 										//
//				Section1										//
//																//
//																//
//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////// */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ///////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
//																//
//																//
//				GLOBAL CONTAINER 								//
//				Section2										//
//																//
//																//
//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////// */

body {
	display: flex;
	flex-direction: row;
	
}



/* ///////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
//																//
//																//
//				HELPER INTERFACE								//
//				Section3										//
//																//
//																//
//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////// */


#helper {
	display: flex;
	flex-direction: column;
	width: 330px;
	/* height will change the more features will be added */
	height: 100vh;
	background-color: darksalmon;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	padding: 5px;
	/* position: absolute; */
	/* z-index: 100; */
	overflow-y: scroll;
}

#b-div {
	width: 200px;
	height: 200px;
	border-style: dashed;
	border-color: black;
	border-width: 2px;
	background-color: hsla(180,100%,27%,0.6);
}

#resources {
    background-color: rgb(197, 162, 73);
    button {
        background-color: rgba(158, 236, 12, 0.705);
    }
}

#tools {
	display: flex;
	flex-direction: column;
}


/* ///////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
//																//
//																//
//				WEB-PREVIEW										//
//				Section4										//
//																//
//																//
//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////// */



#web-preview {
	// position: absolute;
	// left: 330px; 
	width: 100%;
	/* if 100vh iframe will not align with helper interface */
	height: auto;
	// max-height: 100vh;
	overflow: auto;
	resize: horizontal;
	background-color: dodgerblue;
	// box-shadow: 1px 1px 1px red;
	/* min-width: 300px; */
}


